@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Passion One", sans-serif;
}

header>h1{
    padding-top: 50px;
    font-size: 10vw;
    font-variant: small-caps;
}

header>p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}

header>p>a{
    color: white;
    text-decoration: none;
    font-weight: 400;
}

header>p>a:hover{
    color: gray;
    text-decoration: underline;
    font-weight: 400;
}

main{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em ;
    text-align: left;
    font-family: "Sriracha", cursive;
    font-size: 3.5vw;
}

.normal{
    padding-left: 70px;
    padding-bottom:1em;
}


.foto1{
    background-repeat: no-repeat;
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.450);
    background-attachment: fixed;
}

.foto1>p{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 50px 0px 50px 50px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    display: inline-block;
}

.foto2{
    background-repeat: no-repeat;
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.450);
    background-attachment: fixed;
}

.foto2>p{
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 25px;
    padding-right: 25px;
    margin: 200px 200px 200px 50px;
    color: white;
    display: inline-block;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2.5vw;
    padding: 2px;
}

footer>p{
    margin: 0px;
}

footer>p>a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

footer>p>a:hover{
    color: gray;
    text-decoration: underline;
    font-weight: 500;
}